@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
.product {
    display: flex;
    padding: 10px;
}

.thumbnail {
    max-width: 200px;
    width: 100%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

.product .price {
    font-size: 16px;
    font-weight: 600;
}

.product .title {
    font-size: 17px;
    font-weight: 600;
}

.product .date {
    color: grey;
    font-size: 13px;
}

.detail-pic {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.chat-content {
    height: 450px;
    overflow-y: scroll;
    padding: 10px;
}

.chat-content li {
    margin-top: 10px;
}

.text-small {
    font-size: 12px;
    color: gray;
    margin-bottom: 0;
}

.chat-box {
    background: #eee;
    padding: 5px;
    border-radius: 5px;
    float: left;
}

.mine {
    float: right;
}

.bigfont{
    font-size: 25px;
}

.btn-jinho {
    color: #fff;
    background-color: #7353ea;
    border-color: #7353ea;
  }

.btn-outline-secondary {
  color: #fff;
  border-color: #7353ea;
  background-color: #7353ea;
}
.btn-outline-secondary-disabled{
  background-color: lightgrey;
}
.btn-outline-secondary:hover {
  color: #fff;
  background-color: #7353ea;
  border-color: #7353ea;
}


.body {
    width:100%;
    height:100%;
    margin: 0;
      padding-top: 80px;
      padding-bottom: 40px;
      font-family: "Nanum Gothic", arial, helvetica, sans-serif;
      background-repeat: no-repeat;
      background:linear-gradient(to bottom right, #0098FF, #6BA8D1);
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card3 {
  box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  height: 100px;


}

.form-signin .form-control {
      position: relative;
      height: auto;
      -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
         box-sizing: border-box;
      padding: 10px;
      font-size: 16px;
}

.login_dark{
    background-color: lightgrey;
}



.form-check-input {
    width: 1.4em;
    height: 1.4em;
    margin-top: 0.15em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }

  .bodybody {
    flex: 1 1 auto;
    padding: 3rem 3rem;
  }

  .card-body {
    flex: 1 1 auto;
    padding: 5rem 2rem;
  }

  .hide{
      display: none;
  }



  .show{
      display: block;
  }




  .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1055;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
  }



  .input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }

  .modal-content{
    border-radius: 1.8rem;
  
}
/* 상하 슬라이드 */
.block {border:2px solid #dee2e6; border-radius: 0.3rem; height:50px; overflow:hidden; background:#fff;  font-size:20px;}

.block ul,
.block li {margin:0; padding:0; list-style:none; padding: 0 10px;}
.block li a {display:block; height:50px; line-height:50px; color:#555; text-decoration:none;}
.block li span {padding:2px; background:#d81f25; color:#fff; font-weight:bold; margin-right:3px;}
/* 상하 슬라이드 */

  .a {
    width: 400px;
    margin-top: 3%;
    margin-bottom: 3%;
  }



  .card2 {
    background-color: #fff;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3em;
  }

  .card3 {
    background-color: #fff;
    height: auto;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1em;
  }




.card-body2 {
  flex: 1 1 auto;
  padding: 3rem 2rem;

}

.card-body4 {
  flex: 1 1 auto;
  padding: 6rem 3rem;

}

.a img {
  transition: all 0.15s linear;
}
.a:hover img {
  transform: scale(1.5);
}

.b img {
  transition: all 0.15s linear;
}
.b:hover img {
  transform: scale(1.5);
}


.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.5rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}



.card-heade2 {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-body3 {
  flex: 1 1 auto;
  padding: 2rem 2rem;
}

.product {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 2rem;
}
.product img {
  border-radius: 2rem;
  max-width: 100%;
  height: auto;
  display: block;
}


.accordion-button:not(.collapsed) {
  color: #121212;
  background-color: #f1f7ff;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);}


  .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1055;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    background-color: rgba(194, 194, 194, 0.158);

  }



  .modal2 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1055;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    background-color: rgba(87, 87, 87, 0.985);

  }

  .right {
    display:block;
    float: right;
  }


  .table{
    table-layout: fixed;
  }


  .card4 {
    box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    height: 100px;

  
  
  }

  .card-body2 {
    flex: 1 1 auto;
    padding: 1rem 3rem;
  }

/* guide.html 원형 안내  */
.guide-step div{
  border: 1px solid #000;
  height:150px;
  width: 150px;
  border-radius: 150px;
  margin: 0 15px;
  align-items: center;
  line-height: 30px;
  position: relative;
  cursor: pointer;
}
.guide-step div::after{
  content: '';
  width: 10px;
  height: 10px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;

  display: inline-block;
  transform: rotate(45deg);
  position: absolute;
  top:70px;
  right:-20px;
}
.guide-step .last::after {
  display: none;
}
.guide-step div span {
display: inline-block;
position: absolute;
top:50%;
transform: translate(-50%,-50%);
}

.mychat_btn {
  text-align: center !important;
  margin-bottom: 60px !important;
}
.mychat_btn button{
  font-size:32px !important;border:none !important; 
}
.mychat_btn button:first-of-type {
  float: left;
}
.mychat_btn button:last-of-type {
   float: right;
}
.mychat_txt{
  position: relative;
}
.mychat_txt p{
  padding-right: 70px !important;
  box-sizing: border-box !important;
}
.mychat_txt:after {
  content:'\f4ad';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: block;
  position: absolute;
  top:20%;  
  right: 0;

  z-index: 999;
  font-size: 45px;
  color: #ed2131;
}

.otherchat_txt {
  position: relative;
}

.otherchat_txt p{
  padding-left: 70px !important;
  box-sizing: border-box !important;
}
.otherchat_txt::before {
  content:'\f4ad';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: block;
  position: absolute;
  top:20%;  
  left: 0;

  z-index: 999;
  font-size: 45px;
  color: #0098FF;
}